.principal{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;

}

.userContainer{
    background-color: rgb(241, 246, 212);
   /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin: 10px; */

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
    align-items: center;
    width: 220px;
    margin: 10px
}

.flexContainerUsers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }